body {
  font-family: "Kumbh Sans", sans-serif;
}
svg {
  vertical-align: unset;
}
.avatar img {
  width: 40px;
}
.avatar svg {
  margin: 10px;
  margin-right: 30px;
}
p {
  font-size: 16px;
}
nav {
  margin: 20px;
}
.bottom-nav {
  padding-bottom: 25px;
  border-bottom: 2px solid #ddd;
}
.nav-item {
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav-link {
  margin-right: 0.5em;
}
.nav-link::after {
  position: absolute;
  content: "";
  border: 2px solid hsl(26, 100%, 55%);
  bottom: -30px;
  width: -webkit-fill-available;
  left: 0;
  display: none;
}
.nav-link:hover::after {
  display: block;
}
/* Body Of Product */
section {
  display: flex;
}
.card {
  flex-direction: row;
  padding: 30px;
  border: none;
  gap: 100px;
}

.card img {
  width: 460px;
  margin-right: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 20px;
}
.box img {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}
.showing {
  display: flex;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.showing img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 460px;
}
.details h6 {
  color: hsl(26, 100%, 55%);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.details h2 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 20px;
}
.price {
  font-size: 22px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.price span {
  color: hsl(26, 100%, 55%);
  padding: 1px 10px;
  font-size: 14px;
  margin-left: 15px;
  background-color: hsl(25, 100%, 94%);
  border-radius: 5px;
}
.oldPrice {
  font-weight: 700;
  position: relative;
  color: #d1d1d1;
}
.oldPrice::after {
  position: absolute;
  content: "";
  bottom: 9px;
  left: 0;
  border: 1px solid #d1d1d1;
  width: 61px;
}
.counter {
  display: flex;
  align-items: center;
}

.counter .count {
  background: #f5f5f5;
  padding: 8px 10px;
  margin-right: 18px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.counter .count span {
  margin: 10px;
}
.dec,
.inc {
  cursor: pointer;
  padding: 3px 7px;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  user-select: none;
}

.dec:hover,
.inc:hover {
  background-color: hsl(25, 100%, 94%);
}
.addCart svg {
  color: white;
}
.addCart button {
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: white;
  background-color: hsl(26, 100%, 55%);
}
.clickable {
  filter: opacity(0.5);
  -webkit-filter: opacity(0.5);
  position: relative;
  outline: 3px solid hsl(26, 100%, 55%);
}

.products {
  position: relative;
}
.product {
  position: absolute;
  z-index: 999;
  right: -53px;
  width: max-content;
}
.notify {
  position: absolute;
  right: 16px;
  top: -6px;
  width: 30px;
  background: hsl(26, 100%, 55%);
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
}
.product .card {
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0;
  width: 400px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  gap: 0;
}
.card-header {
  background-color: transparent;
  padding: 20px 30px;
  font-weight: 700;
  font-size: 16px;
}
.product-card {
  display: flex;
  margin-bottom: 10px;
}
.product-card p {
  margin-bottom: 0;
}
.product-card-image {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}
.product-card-image img {
  width: inherit;
  height: inherit;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.card-body button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: hsl(26, 100%, 55%);
  padding: 14px;
  border-radius: 10px;
  font-weight: 700;
  width: 100%;
  border: none;
  color: white;
}
.total {
  display: flex;
  gap: 10px;
}
.total span {
  margin-left: 3px;
}
.tprice {
  font-weight: 700;
}
.del {
  display: flex;
  margin-left: 7px;
}
.products svg {
  cursor: pointer;
}
.modal {
  display: block;
}
.modal-content {
  background-color: transparent;
  border: none;
}
.modal-header {
  border: none;
}
.carousel,
.modal-header .btn-close {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal-footer {
  justify-content: center;
  border: none;
}
.modal-footer .showing img {
  margin: 0 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.filters {
  filter: opacity(0.5);
}
.card .carousel {
  display: none;
}
@media (max-width: 992px) {
  .card {
    flex-wrap: wrap;
    justify-content: center;
  }
  .navbar-collapse {
    flex-direction: column;
    display: flex;
  }
  .nav-link::after {
    bottom: 4px;
  }
}
@media (max-width: 450px) {
  .box {
    display: none;
  }
  .card .carousel {
    box-shadow: none;
    display: flex;
  }
  .card .carousel-inner {
    width: 332px;
  }
  .product {
    right: -180px;
  }
  .product .card {
    width: 370px;
  }
}
@media (max-width: 280px) {
  .card .carousel-inner {
    width: 270px;
  }
  .product .card {
    width: 270px;
  }
  .product-card {
    flex-wrap: wrap;
  }
  .product {
    right: -122px;
  }
}
